/* Footer styles */
footer {
    margin-top: 30px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  /* Links in the footer */
  footer a {
    color: #fff;
    text-decoration: none;
  }